.App {
  text-align: center;
}

.capture-1, .capture-2, .capture-3, .capture-4, .capture-5 {
  position: relative;
  top: 0;
  margin: auto;
  width: 300px;
  height: 150px;
  background-color: rgb(255, 152, 55);
  margin-bottom: 30px;
}

button, p{
  position: relative;
  margin: 0 5px;
  top: 50%;
  transform: translateY(-50%);
}

.capture-2 {
  background-color: #ffd970;
}

.capture-3 {
  background-color: #d9ff70;
}

.capture-4{
  background-color: #75ff70;
}

.capture-4 > span{
  color: #000000;
  position: relative;
  display: block;
  top: 50px;
}

.capture-5{
  background-color: #70ffe0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
